{#{{ dump() }}#}
<html lang="fr-FR">
<head>

    <meta charset="UTF-8">
    <title>Comme l'air de rien</title>

    <link rel="icon" type="image/png" href="../img/flav.png" />
    <link href="../../../public/css/reset.css" media="all" rel="stylesheet" type="text/css">
    <link href="../../../public/css/style-hub.css" media="all" rel="stylesheet" type="text/css">
    <link href="../../../public/css/media-hub.css" media="all" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&amp;subset=latin-ext" rel="stylesheet">

</head>
<body class="w100 cbp-spmenu-push">

<!-- ////////////////////   Debut de page  \\\\\\\\\\\\\\\\\\\\ -->
<div id="home" class="desktop w100 container">
    <!-- ////////////////////  Debut du contenu \\\\\\\\\\\\\\\\\\\\ -->
    <div class="w100 content txtcenter">


        <!-- ////////////////////   Compagnie  \\\\\\\\\\\\\\\\\\\\ -->
        <section id="home-left" class="home-panel w50 h100 left">
            <!-- >>> Fond  <<< -->
            <div id="left-background" class="w50 background left-background"></div>
            <!-- >>> Titre <<< -->
            <div class="home-title fittext block-1 w100">
                <div class="wrapper-1">
                    <div class="home-box1">
                        <h3>Comme</h3>
                        <h2>l'air</h2>
                        <h4>de rien</h4>
                    </div>
                </div>
            </div>
            <!-- >>> Over <<< -->
            <div id="home-over-left" class="home-over w50 h100">
                <div class="home-over-content w100 h100">
                    <!-- >>> Titre <<< -->
                    <div class="home-title fittext block-2 w100">
                        <div class="wrapper-2">
                            <div class="home-box">
                                <h3>Comme</h3>
                                <h2>l'air</h2>
                                <h4>de rien</h4>
                            </div>
                        </div>
                    </div>
                    <!-- >>> lien <<< -->
                    <div id="home-logo-left" class="home-logo block-3 w100">
                        <div class="wrapper-3">
                            <div class="home-box fittext w60">

                                <h5><a href="index.php?route=Compagnie">Plus d'infos sur notre compagnie ici...
                                    </a></h5>

                            </div>
                        </div>
                    </div>
                    <!-- >>> Logo <<< -->
                    <footer class="w60 center block-4 w100">
                        <div class="wrapper-4">
                            <div class="home-box w60">
                                <hr>
                                <nav id="nav-do" class="nav">
                                    <ul>
                                        <li class="txtleft"><img src="images/Placeholder+Logo.png"></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </section>
        <!-- \\\\\\\\\\\\\\\\\\\\   Fin compagnie   //////////////////// -->

        <!-- ////////////////////   Spectacles  \\\\\\\\\\\\\\\\\\\\ -->
        <section id="home-right" class="home-panel w50 h100 left">
            <!-- >>> Fond <<< -->
            <div id="right-background" class="w50 background right-background"></div>
            <!-- >>> Titre <<< -->
            <div class="home-title fittext block-1 w100">
                <div class="wrapper-1">
                    <div class="home-box1">
                        <h3>Devine</h3>
                        <h2>qui vient</h2>
                        <h4>dîner ce soir</h4>
                    </div>
                </div>
            </div>
            <!-- >>> Over <<< -->
            <div id="home-over-right" class="home-over w50 h100">
                <div class="home-over-content w100 h100">
                    <!-- >>> Titre <<< -->
                    <div class="home-title fittext block-2 w100">
                        <div class="wrapper-2">
                            <div class="home-box">
                                <h3 class="test">Devine qui vient diner se soir</h3>
                            </div>
                        </div>
                    </div>
                    <!-- >>> Liens <<< -->
                    <div id="home-logo-right" class="home-logo block-3 w100">
                        <div class="wrapper-3">
                            <div class="home-box fittext w60">

                                <h5><a href="index.php?route=Spectacle&id=1"> Plus d'infos sur notre spectacle ici ..
                                        .</a></h5>

                            </div>
                        </div>
                    </div>
                    <!-- >>> Menu Spectacles <<< -->
                    <footer class="w60 center block-4 w100">
                        <div class="wrapper-4">
                            <div class="home-box w60">
                                <hr>
                                <nav id="nav-see" class="nav">
                                    <ul>
                                        <li class="txtleft"><a href="#">Spectacle 2</a></li>
                                        <li class="txtcenter"><a href="#">Spectacle 3</a></li>
                                        <li class="txtright"><a href="#">Spectacle 4</a></li>
                                    </ul>
                                    <div class="clear"></div>
                                </nav>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </section>
        <!-- \\\\\\\\\\\\\\\\\\\\   Fin Spectacles   //////////////////// -->
        <div class="clear"></div>
    </div>
    <!-- \\\\\\\\\\\\\\\\\\\\   Fin du contenu   //////////////////// -->
</div>
<!-- \\\\\\\\\\\\\\\\\\\\   Fin de page   //////////////////// -->

<!-- ////////////////////  Debut de page mobile \\\\\\\\\\\\\\\\\\\\ -->
<div id="home" class="mobile w100 h100">
    <section id="home-mobile-top" class="w100 h50 block">
        <div class="home-mobile-logo w50 txtcenter wrapper">
            <div class="home-box">
                <h2>Plus d'info</h2>
                <h2>sur la </h2>
            </div>
        </div>
        <div class="home-mobile-title w50 txtcenter wrapper">
            <div class="home-box">
                <h3><a href="/les-ateliers">Compagnie</a></h3>
                <h2><a href="/les-ateliers">Comme l'air</a></h2>
                <h4><a href="/les-ateliers">de rien</a></h4>
            </div>
        </div>
    </section>
    <section id="home-mobile-bottom" class="w100 h50 block">
        <div class="home-mobile-logo w50 txtcenter wrapper">
            <div class="home-box">
                <h2>Plus d'info</h2>
                <h2>sur notre </h2>
            </div>
        </div>
        <div class="home-mobile-title w50 txtcenter wrapper">
            <div class="home-box">
                <h3><a href="/la-compagnie">Spectacle</a></h3>
                <h2><a href="/la-compagnie">Devine qui</a></h2>
                <h4><a href="/la-compagnie">vient diner se soir</a></h4>
            </div>
        </div>
    </section>
</div>
<!-- \\\\\\\\\\\\\\\\\\\\   Fin de page mobile  //////////////////// -->

<script type='text/javascript' src='../../../public/js/jquery-1.11.1.min.js'></script>
<script type="text/javascript" src="../../../public/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="../../../public/js/main.js"></script>

</body>
</html>
