
.arve-wrapper {
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.arve-wrapper.alignright {
    margin-left: 20px;
}
.arve-wrapper.alignleft {
    margin-right: 20px;
}
.arve-embed-container {
    display: block;
    height: 0;
    overflow: hidden;
    padding: 0 0 56.25%;
    position: relative;
}
.arve-inner {
    border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden !important;
    position: absolute;
    top: 0;
    width: 100%;
}
.arve-promote-link {
    bottom: -10px;
    font-family: "Open Sans","Sagoe UI",Arial,sans-serif;
    font-size: 9px;
    line-height: 1;
    position: absolute;
    right: 0;
}
.arve-hidden {
    display: none;