
body{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/*************************  CONTENT  *********************************************************/

.ancre{
    padding-top: 100px;
}

#titre{
    padding-top: 125px;
}

#logo{
    height: 80px;
    width: 80px;
}


h2, h3, h4{
    font-family: 'Fredericka the Great', cursive;
    color: #bc1a3a;
}

.heading-block h1, .heading-block h2, .heading-block h3, .heading-block h4, .emphasis-title h1, .emphasis-title h2{
    color: #bc1a3a;
}

.line, .double-line{
    border-top: 1px solid #1ABC9C;
}

.team-image a{
    width: 90%;
}
.team-image img{
    width: 90%;
}

.feature-box h3{
    color: #bc1a3a;
}

.feature-box.media-box.fbox-bg .fbox-desc {
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    border-radius: 5px;
    padding: 25px;
    padding-top: 15px;
}

.feature-box h3 span.subtitle{
    font-family: 'Raleway', sans-serif;
}

.button-dark {
    background-color: #bc1a3a;
}

.team-content{
    font-size: 14px;
}

p{
    font-size: 21px;
    color: #777;
    margin-top: 15px;
}

.restaurant-reviews .flex-control-nav {
    top: auto;
    bottom: 25px;
}

.auteur{

}

.mfp-close {
    color: inherit;
    width: 754px;
}

#soundcloud{
    margin-top: 60px;
}

.feature-box.media-box.fbox-bg .fbox-desc{
    margin: 5px;
}


/*************************   NAVBAR ********************************************************

 */
#page-menu-wrap .menu-title{
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
    color: #bc1a3a;
}

.one-page-menu li{
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
}

#primary-menu ul li > a{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    color: #bc1a3a;
}

#page-menu nav li a{
    font-size: 19px;
}

.compagnie{
    color: #1abc9c;
}

.container-fluid .pti-footer{
    background-color: white;
    border-top: 2px solid #bc1a3a;
}


/*************************  FOOTER ********************************************************

 */

/*font-family: 'Fredericka the Great', cursive;*/
/*font-family: 'Amatic SC', cursive;*/
/*font-family: 'Josefin Slab', serif;*/
/*font-family: 'Raleway', sans-serif;*/

.fbb{
    margin-left: 40px;
}

#footer .footer-widgets-wrap{
    padding: 20px;
}




/*************************  hub ********************************************************/

.hub1{
    position:relative; /* absolute */
    display:block;
    float:left;
    border-left:4px solid gray;
    width:60%;
    height:100%;
    overflow:hidden; /* hidden*/
}

.hub2{
    position:relative; /* absolute */
    display:block;
    width: 40%;
    max-height: 100%;
    overflow:hidden; /* hidden*/
}

.flex-cont{
    display: flex;
}

.oo{
    height: 100%;
    width: 100%;
}
