<FilesMatch admin.php>



AuthUserFile /home/wilder8/PhpstormProjects/Projet/air_de_rien/orleans-0217-airderien/config/.htpasswd

AuthName "Accès protégé trouve le MDP!!"
AuthType Basic
Require valid-user
</FilesMatch>
